<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Earth js</title>
  <script src="landing_page.js"></script>
  <!-- add fontawesome-->
  <script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
  <link rel="stylesheet" href="landing_page.css">
</head>

<body>
  <div id="earth" alt="Threejs scene">
    <div class="header">
      <img src="../public/ui-assets/icon.svg" title="View Description" alt="Icon" class="icon" width="150" height="150">
      <img src="../public/ui-assets/logo.svg" title="Access Map" alt="Logo" class="logo" width="400" height="400">
      <i class="fa-solid fa-bars" id="menu-button" title="menu" onclick="toggleMenu()"></i>
      <!-- embed threejs canvas within div  -->
    </div>
    <div id="menu">
      <a href="../../signup/signup.html">Sign<br>Up</a>
      <a href="../../authenticate/auth.html">Log<br>In</a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="earth_scene.js"></script>

    <!--<script>
      // TODO add toggle menu function
    </script> -->
  </div>

</html>